/* Body styling */
body {
	font-family: Arial, sans-serif;
	background-color: rgb(216, 204, 225);

	margin: 0;
	padding: 0;
}

/* Container styling */
.login {
	max-width: 400px;
	margin: 100px auto;
	background-color: #f0f0f0;

	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
.login h1 {
	text-align: center;
	color: #333;
}

/* Form styling */
.login-form {
	margin-top: 20px;
}

/* Label styling */
.login-form label {
	display: block;
	margin-bottom: 6px;
	color: #666;
}

/* Input styling */
.login-form input[type="text"],
.login-form input[type="password"] {
	width: calc(100% - 12px);
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/* Button styling */
.login-btn {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* Link styling */
a {
	display: block;
	text-align: center;
	margin-top: 10px;
	color: #007bff;
}

/* Error message styling */
.login h4 {
	color: #ff0000;
	text-align: center;
	margin-top: 10px;
}
